<header class="main">
  <div class="title">
    <h1>{{ title }}</h1>
    <br />
  </div>

  <div class="breakingNews">
    <h1 class="BN" >{{ breakingNews }}</h1>
    <div class="scroll">
      <marquee
        ><p>{{ scrollingContent2 }}</p></marquee
      >
    </div>
  </div>

  <div class="news">
    <h1>{{ newsHeadline1 }}</h1>
    <br />
    <img class="img1" src="{{ new1Image }}" alt="" />
    <br />
    <br />
    <p>{{ newsContent1a }}</p>
    <br />
    <p>{{ newsContent1b }}</p>
    <br />
  </div>

  <div class="news">
    <h1>{{ newsHeadline2 }}</h1>
    <br />
    <img class="img1" src="{{ new2Image }}" alt="" />
    <br />
    <br />
    <p>{{ newsContent2a }}</p>
    <br />
    <p>{{ newsContent2b }}</p>
    <br />
    <p>{{ newsContent2b }}</p>
    <br />
  </div>

  <div class="row">
    <div class="col">
      <h1>{{ title2 }}</h1>
      <div class="col-1">
        <img class="img2" src="{{ LUI1 }}" alt="" />
        <div class="Content">
          <h3>{{ LU1 }}</h3>
          <p>{{ LUC1 }}</p>
        </div>
      </div>

      <div class="col-1">
        <img class="img2" src="{{ LUI2 }}" alt="" />
        <div class="Content">
          <h3>{{ LU2 }}></h3>
          <p>{{ LUC2 }}</p>
        </div>
      </div>

      <div class="col-1">
        <img class="img2" src="{{ LUI3 }}" alt="" />
        <div class="Content">
          <h3>{{ LU3 }}</h3>
          <p>{{ LUC3 }}</p>
        </div>
      </div>
    </div>
  </div>
</header>
